Programming_Tools/TensorFlow/datasets/
*.ini
*__pycache__
signal_processing/uni_course/assignments/assignment_1.ipynb
signal_processing/uni_course/assignments/assignment_1_copy.ipynb
*.wav
*.zip
Machine_Learning/NLP/uni_NLP_course/assignments/file*
Machine_Learning/NLP/uni_NLP_course/assignments/m.*
*.rar
\.idea
NLP/uni_NLP_course/assignments/__MACOSX
NLP/uni_NLP_course/assignments/botchan.txt
NLP/uni_NLP_course/
NLP/nlp_env
DataMining/
# ignore all models
*pth 
*ph
signal_processing/ThinkDSP_book/__pycache__/
signal_processing/uni_course/__pycache__/
Programming_Tools/Pytorch/pytorch_data/
# ignore the 2nd dsp assignment for now
signal_processing/uni_course/assignment_2/hw_2
signal_processing/uni_course/assignment_2/Ayhem_Bouabid
Programming_Tools/Pytorch/data
# ignore any file with the name runs
runs
*.png
DataEngineering/BigData_Uni_course
extra_env

