Programming_Tools/TensorFlow/datasets/
*.ini
*__pycache__
signal_processing/uni_course/assignments/assignment_1.ipynb
signal_processing/uni_course/assignments/assignment_1_copy.ipynb
*.wav
*.zip
Machine_Learning/NLP/uni_NLP_course/assignments/file*
Machine_Learning/NLP/uni_NLP_course/assignments/m.*
*.rar
\.idea
NLP/uni_NLP_course/assignments/__MACOSX
NLP/uni_NLP_course/assignments/botchan.txt
NLP/uni_NLP_course/
NLP/nlp_env
DataMining/
# ignore all models
*pth 
*ph
signal_processing/ThinkDSP_book/__pycache__/
signal_processing/uni_course/__pycache__/
Programming_Tools/Pytorch/pytorch_data/
# ignore the 2nd dsp assignment for now
signal_processing/uni_course/assignment_2/hw_2
signal_processing/uni_course/assignment_2/Ayhem_Bouabid
Programming_Tools/Pytorch/data

DataEngineering/BigData_Uni_course/assignments/a3/JIRA
# ignore any file with the name runs
runs
*.png
!My_Research/images/*.png
extra_env
*.csv
*.json
*.zip
*.txt
*.tsv
*.jpg
signal_processing/uni_course/assignment_4/a4
github_config.py
github_config.ini
NLP/playground/RNE_recognizer
NLP/playground/POS_african_languages
NLP/playground/Recurrent_NNs
NLP/playground
Programming_Tools/Pytorch/Pytorch_tutorials
NLP/HF_course
My_Research/brain_storming.ipynb
My_Research/concept_bottleneck.ipynb
*.rnote
env
tds_env


*.db 
*.ob
*.pt
*.pth 

*.html

da_env

Machine_Learning/__uni/data/caltech256

*.mat
*.tgz
